{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module",
    "project": "/tsconfig.json"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"], // Your TypeScript files extension
      "parserOptions": {
        "project": ["./tsconfig.json"] // Specify it only for TypeScript files
      }
    }
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "import", "react-hooks"],
  "rules": {
    "import/prefer-default-export": "off",
    "react/function-component-definition": "off",
    "arrow-body-style": "off",
    "react/react-in-jsx-scope": "off"
  }
}
